.content-block{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.track-in-list{
	border: 2px solid white;
	height: 66px;
	position: relative;
}
.track-in-list:hover{
	border: 2px solid #3d97d2;

}

.play-button img{
	display: none;
	position: absolute;
	z-index: 1;
	width: 30px;
	height: 30px;
	margin: 15px;
}
.track-in-list:hover .play-button img{
	display: block;
	

}
.play-button:active img{

}
.pause-button img{
	display: none;
	position: absolute;
		width: 30px;
	height: 30px;
	margin: 15px;
	z-index: 1;
}

.cover-in-list{

}

.content-block{
	/* border: 1px solid grey; */
	padding: 10px;
	margin-bottom: 40px;

}

.cover-in-list img{
	/* position:relative; */
	margin: 5px;
	width: 50px;
	height: 50px;
}
.track-left-column{
	position: absolute;
	padding-top: 1px;
	padding-left: 1px;
}

.track-right-column{
	position: relative;
	/* width: auto;
	height: 50px; */
	/* padding-left: 80px; */
	width: auto;
	/* padding-top: 5px; */

}

.track-name {
	position: absolute;
	left: 80px;
	width: auto;
	top: 5px;
}

.artist-name{
	position: absolute;
	top: 25px;
	left: 80px;
	width: auto;
}

.track-duration{
	width: 30px;
	height: 25px;
	position: absolute;
	float: right;
	bottom: 20px;
	right: 10px;
	
}

.track-in-list:hover .track-duration{
	display: none;
}

.track-in-list:hover .like-active{

}

.track-in-list:hover .like{
	display: block;
}

.like img{

	width: 30px;
	height: 30px;
}

.like{
	display: none;
	float: right;
	margin: 15;
}

.track-in-list a{
	text-decoration: none;
	color: black;
}
.track-in-list .artist-name a{
	color: grey;
}

.track-in-list a:hover{
	text-decoration: none;
	color: red;
}

.dropdown-menuLeft {
    left: -100;
}

.genre{
	display: inline-block;
	border: 1px solid #0000ff;
	padding: 5px;
	margin: 2px;
	border-radius: 10px;
	border-width: 5px;
}