<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE XML>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="JPASample" transaction-type="RESOURCE_LOCAL" >
		<class>org.vladositto.music_service.Domain.Song</class>
 		<class>org.vladositto.music_service.Domain.User</class>
 		<class>org.vladositto.music_service.Domain.Artist</class>
 		<class>org.vladositto.music_service.Domain.Album</class>
 		<class>org.vladositto.music_service.Domain.Playlist</class> 		
	</persistence-unit>
</persistence>